<section class="hero">
    <div class="hero-content">
        <h1>ASOCIACIÓN DESAMPA INCLUSIVO</h1>
        <h2>
            CONSTRUYENDO<br>
            UNA CULTURA
        </h2>
        <h2 class="text-outline">INCLUSIVA</h2>
        <p>
            Promovemos la participación de la población<br />
            con discapacidad dentro de la sociedad.
        </p>
    </div>
    <div class="hero-image">
        <img class="ellipse" src="~/img/Ellipse 1134.png" alt="Ellipse">
        <img src="~/img/foto de inicio.png" alt="Foto de Inicio">
        <img class="icon" src="~/img/icono.png" alt="Icono">
        <img class="triangles" src="~/img/triangulos.png" alt="Triángulos">
    </div>
</section>
<section class="about-section">
    <img class="about-image" src="~/img/photo 2.png" alt="About Image">
    <div class="about-text">
        <h2>
            ¿QUÉ<br>
            <span>SOMOS?</span>
        </h2>
        <p>
            Somos una Asociación creada con el objetivo de promover la participación de la población en situación
            de discapacidad dentro del entorno social, cultural, deportivo, laboral, entre otros, por medio de la creación
            de espacios inclusivos y accesibles, tanto en el cantón de Desamparados como en el resto del país.
        </p>
        <p>
            Propiciando que nuestra organización formule acuerdos con las diferentes instituciones locales,
            gubernamentales y no gubernamentales.
        </p>
    </div>
</section>
<section class="mission-vision">
    <div class="vision">
        <img src="~/img/ojo.png" alt="Visión" class="vision-icon">
        <h2>VISIÓN</h2>
        <p>
            Lograr una sociedad accesible e inclusiva en el cantón de Desamparados, y extender
            el proyecto a otras comunidades del territorio nacional.
        </p>
    </div>
    <div class="mission">
        <img src="~/img/bandera.png" alt="Misión" class="mission-icon">
        <h2>MISIÓN</h2>
        <p>
            Creación de espacios en donde la población en situación de discapacidad se pueda
            desarrollar y construir una cultura bajo los principios de participación e inclusión.
        </p>
    </div>
</section>
<section class="team-section">
    <div class="team-content">
        <h2>¿QUÉ BUSCAMOS?</h2>
        <p>
            Nuestra intención es educar sobre el modelo social de la discapacidad a la población en general,
            trabajando en conjunto con los diferentes actores sociales sobre el cumplimiento de la legislatura
            nacional en temas de discapacidad, promoviendo la accesibilidad universal y la participación real
            dentro de espacios inclusivos en todo el país.
        </p>
    </div>
</section>

<section class="cuerpos-libres-banner">
    <img src="/img/cuerpos libres.png" alt="Cuerpos Libres, Ya! Danza" />
</section>

<section class="carousel-danza-ya">
    <div class="carousel-container">
        <button class="carousel-button left">&lt;</button>
        <div class="carousel-content">
            <div class="carousel-slide"><img src="/img/Ya Danza/Danza1.jpg" alt="Danza 1"></div>
            <div class="carousel-slide"><img src="/img/Ya Danza/Danza2.jpg" alt="Danza 2"></div>
            <div class="carousel-slide"><img src="/img/Ya Danza/Danza3.png" alt="Danza 3"></div>
            <div class="carousel-slide"><img src="/img/Ya Danza/Danza4.jpg" alt="Danza 4"></div>
            <div class="carousel-slide"><img src="/img/Ya Danza/Danza5.jpg" alt="Danza 5"></div>
            <div class="carousel-slide"><img src="/img/Ya Danza/Danza6.jpg" alt="Danza 6"></div>
        </div>
        <button class="carousel-button right">&gt;</button>
    </div>

    <div class="carousel-danza-text">
        <h2>Cuerpos Libres</h2>
        <p>
            Mediante esta obra escénica; se pretende no solo crear un montaje sino también ser un espacio
            de exposición del movimiento realizado por cuerpos diversos para acercar a nuevos talentos y
            a nuevos públicos.<br>
            Cuerpos Libres reconoce la capacidad que tiene el cuerpo para comunicar
            y crear, desde su naturalidad y ser un portal de expresión y de disfrute a partir de la escucha
            de las inquietudes que necesitan ser liberadas. El arte brinda un espacio seguro para poder
            liberar represiones, inquietudes y necesidades tanto personales como colectivas, ¡por lo que
            Ya! Danza promueve la convención.
        </p>
    </div>
</section>

<section class="activities">
    <div class="activities-header">
        <h2>ACTIVIDADES</h2>
        <h3>ALGUNAS ACTIVIDADES Y PARTICIPACIONES</h3>
    </div>
    <div class="activities-content">
        <!-- Tarjeta azul -->
        <div class="card blue-card">
            <h4>CHARLAS</h4>
            <p>
                Con las charlas se busca la inclusión como respuesta a la diversidad tratando de modificar el sistema
                para responder a las necesidades de todas las personas.
            </p>
            <img src="/img/imagen lucho 1.png" alt="Imagen de charla">
        </div>
        <!-- Tarjeta blanca YA! DANZA -->
        <div class="card white-card">
            <h4>YA! DANZA</h4>
            <p>
                Es un espacio de creación y acercamiento a todo aquel que desea volcar su mundo interior y convertirlo en
                expresión artística haciendo a un lado la noción de su cuerpo perfecto y los grandes espectáculos
                acrobáticos, la danza contemporánea inclusiva reúne personas con y sin discapacidad en torno a un arte
                que logra reflejar lo esencial del hombre.
                <br><br>
                Ya Danza! es una agrupación de danza conformada por bailarines con y sin discapacidad, que ha
                tenido participación en eventos nacionales e internacionales con obras como Nube de Pájaros, Volcán e
                Identidades.
            </p>
            <img src="/img/danza ya.png" alt="Imagen de Ya Danza">
        </div>
        <!-- Tarjeta blanca DEPORTE -->
        <div class="card white-card">
            <h4>DEPORTE</h4>
            <p>
                Actividad física y deporte que permite la práctica conjunta de personas con y sin discapacidad ajustándose
                a las posibilidades de los practicantes y manteniendo el objetivo de la especialidad deportiva que se
                trate. Supone un ajuste o adaptación en las reglas y el material utilizado con el fin de fomentar la
                participación activa y efectiva de todos los participantes.
            </p>
            <img src="/img/equipo.png" alt="Imagen de deporte">
        </div>
        <!-- Tarjeta blanca REPORTAJES -->
        <div class="card white-card reportajes">
            <h4>REPORTAJES</h4>
            <p>
                Distintos medios de comunicación nos realizaron reportajes.
                Puedes ver algunos de los reportajes a continuación:
            </p>
            <div class="report-buttons">
                <button data-year="2023">2023</button>
                <div class="report-links">
                    <a href="https://www.larepublica.net/noticia/cuerpos-libres-danza-contemporanea-que-expone-equidad-e-inclusion" target="_blank">LaRepublica.net</a>
                    <a href="https://www.youtube.com/watch?v=_VDu3Cymncc&t=129s" target="_blank">Trece Noticias</a>
                    <a href="https://www.dailymotion.com/video/x8jak9b" target="_blank">Teletica MQN</a>
                </div>
                <button data-year="2019">2019</button>
                <div class="report-links">
                    <a href="https://www.larepublica.net/noticia/iniciativa-desamparadena-busca-mayor-inclusion-para-personas-con-discapacidad" target="_blank">LaRepublica.net</a>
                    <a href="https://observador.cr/bailarines-con-discapacidad-despiertan-un-volcan-inclusivo-de-danza/" target="_blank">El Observador</a>
                </div>
                <button data-year="2018">2018</button>
                <div class="report-links">
                    <a href="https://www.teletica.com/nacional/bailarin-de-danza-en-silla-de-ruedas-representara-a-nuestro-pais-en-un-festival-en-brasil_205154" target="_blank">Teletica.com</a>
                    <a href="https://www.crhoy.com/entretenimiento/personas-con-discapacidad-interpretan-nube-de-pajaros/" target="_blank">crhoy.com</a>
                    <a href="https://elmundo.cr/tendencias/estrena-en-el-pais-nube-de-pajaros-danza-contemporanea-interpretada-por-personas-con-discapacidad/" target="_blank">ElMundo.cr</a>
                </div>
                <button data-year="2017">2017</button>
                <div class="report-links">
                    <a href="https://www.larepublica.net/noticia/personas-con-discapacidad-piden-modificar-la-ley-7600" target="_blank">LaRepublica.net</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="logros-section">
    <!-- Título de la sección -->
    <div class="logros-header">
        <h2>LOGROS</h2>
    </div>

    <!-- Contenedor del Carrusel -->
    <div class="logros-carousel" id="logrosCarousel">
        <div class="logros-carousel-inner">
            <!-- Slide 1 -->
            <div class="logros-slide active">
                <div class="logros-left">
                    <img src="/img/lineas de color.png" alt="Líneas de color" class="logros-lineas" />
                    <img src="/img/Dia Nacional.png" alt="Día Nacional de la Persona con Discapacidad" class="logros-image" />
                </div>
                <div class="logros-right">
                    <h4>Día Nacional de la Persona con Discapacidad</h4>
                    <p>
                        El 29 de mayo del 2016 se realizó por primera vez en Desamparados el día nacional de la persona con
                        discapacidad organizado por la Asociación en su totalidad.
                    </p>
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="logros-slide">
                <div class="logros-left">
                    <img src="/img/lineas de color.png" alt="Líneas de color" class="logros-lineas" />
                    <img src="/img/Logo_de_la_Asamblea_Nacional_de_la_Persona_Joven.png" alt="Asamblea Nacional de la Persona Joven" class="logros-image" />
                </div>
                <div class="logros-right">
                    <h4>Asamblea Nacional de la Persona Joven</h4>
                    <p>
                        El presidente Luis Flores fue designado como representante de las juventudes con discapacidad en la Asamblea Nacional de la Persona Joven además de tener representante en la junta directiva de COINDIS.
                    </p>
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="logros-slide">
                <div class="logros-left">
                    <img src="/img/lineas de color.png" alt="Líneas de color" class="logros-lineas" />
                    <img src="/img/logros 1 car show.png" alt="Car Show Inclusivo" class="logros-image" />
                </div>
                <div class="logros-right">
                    <h4>Car Show Inclusivo</h4>
                    <p>
                        Organizadores del Car Show inclusivo en Desamparados donde se tuvieron carros adaptados y de personas con discapacidad que conducían sus propios vehículos.
                    </p>
                </div>
            </div>
        </div>

        <!-- Controlador para avanzar al siguiente slide -->
        <button class="logros-control-next" aria-label="Next slide">&gt;</button>
    </div>
</section>

<section class="apoyarnos-section">
    <div class="apoyarnos-left">
        <img src="/img/logo tcu.png" alt="Logo TCU">
        <p>Siempre son buenas las manos extra para ayudarnos a continuar con nuestro proyecto.</p>
        <a href="https://desampainclusivo.com/Como-puede-ayudarnos.html#sec-809b" class="apoyarnos-button">LEER MÁS</a>
    </div>
    <div class="apoyarnos-right">
        <img src="/img/logo bn.png" alt="Logo BN">
        <p>Nunca está demás la ayuda monetaria para cubrir necesidades como el hosting de nuestro sitio web o bien alguna actividad patrocinada por la asociación.</p>
        <a href="https://desampainclusivo.com/Como-puede-ayudarnos.html#sec-e560" class="apoyarnos-button">LEER MÁS</a>
    </div>
</section>

<section class="ubicacion-section">
    <div class="ubicacion-background"></div>
    <div class="ubicacion-mapa-container">
        <iframe class="ubicacion-mapa"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3930.413115319154!2d-84.071729!3d9.899509!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e31c8eb16d37%3A0x9b366294ce6458fb!2sC.%20Araya%2C%20San%20Jos%C3%A9%2C%20Desamparados!5e0!3m2!1ses!2scr!4v1676155537524!5m2!1ses!2scr"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</section>

<section class="redes-sociales-section">
    <div class="redes-sociales-content">
        <h2>Síguenos en Nuestras<br>Redes Sociales</h2>
    </div>
    <div class="redes-sociales-icons">
        <a href="https://www.facebook.com/desampainclusivo" target="_blank">
            <img src="/img/facebook.png" alt="Facebook" class="red-social-icon">
        </a>
        <a href="https://api.whatsapp.com/send/?phone=%2B50683691359&amp;text&amp;app_absent=0" target="_blank">
            <img src="/img/whatsapp 1.png" alt="WhatsApp" class="red-social-icon">
        </a>
        <a href="https://www.instagram.com/desampainclusivo" target="_blank">
            <img src="/img/instagram-logo-thin 1.png" alt="Instagram" class="red-social-icon">
        </a>
        <a href="https://www.youtube.com/%40desampainclusivo/featured" target="_blank">
            <img src="/img/youtube 1.png" alt="YouTube" class="red-social-icon">
        </a>

    </div>
</section>




@section Scripts {
    <script src="/js/carousel.js"></script>
    <script src="/js/activities.js"></script>
    <script src="/js/logros-carousel.js"></script>

}




