<section class="hero">
    <div class="hero-content">
        <h1>ASOCIACIÓN DESAMPA INCLUSIVO</h1>
        <h2>
            CONSTRUYENDO<br>
            UNA CULTURA
        </h2>
        <h2 class="text-outline">INCLUSIVA</h2>
        <p>
            Promovemos la participación de la población<br />
            con discapacidad dentro de la sociedad.
        </p>
    </div>
    <div class="hero-image">
        <img class="ellipse" src="~/img/Ellipse 1134.png" alt="Ellipse">
        <img src="~/img/foto de inicio.png" alt="Foto de Inicio">
        <img class="icon" src="~/img/icono.png" alt="Icono">
        <img class="triangles" src="~/img/triangulos.png" alt="Triángulos">
    </div>
</section>
<section class="about-section">
    <img class="about-image" src="~/img/photo 2.png" alt="About Image">
    <div class="about-text">
        <h2>
            ¿QUÉ<br>
            <span>SOMOS?</span>
        </h2>
        <p>
            Somos una Asociación creada con el objetivo de promover la participación de la población en situación
            de discapacidad dentro del entorno social, cultural, deportivo, laboral, entre otros, por medio de la creación
            de espacios inclusivos y accesibles, tanto en el cantón de Desamparados como en el resto del país.
        </p>
        <p>
            Propiciando que nuestra organización formule acuerdos con las diferentes instituciones locales,
            gubernamentales y no gubernamentales.
        </p>
    </div>
</section>
<section class="mission-vision">
    <div class="vision">
        <img src="~/img/ojo.png" alt="Visión" class="vision-icon">
        <h2>VISIÓN</h2>
        <p>
            Lograr una sociedad accesible e inclusiva en el cantón de Desamparados, y extender
            el proyecto a otras comunidades del territorio nacional.
        </p>
    </div>
    <div class="mission">
        <img src="~/img/bandera.png" alt="Misión" class="mission-icon">
        <h2>MISIÓN</h2>
        <p>
            Creación de espacios en donde la población en situación de discapacidad se pueda
            desarrollar y construir una cultura bajo los principios de participación e inclusión.
        </p>
    </div>
</section>
<section class="team-section">
    <div class="team-content">
        <h2>¿QUÉ BUSCAMOS?</h2>
        <p>
            Nuestra intención es educar sobre el modelo social de la discapacidad a la población en general,
            trabajando en conjunto con los diferentes actores sociales sobre el cumplimiento de la legislatura
            nacional en temas de discapacidad, promoviendo la accesibilidad universal y la participación real
            dentro de espacios inclusivos en todo el país.
        </p>
    </div>
</section>

<section class="cuerpos-libres-banner">
    <img src="/img/cuerpos libres.png" alt="Cuerpos Libres, Ya! Danza" />
</section>

<section class="carousel-danza-ya">
    <div class="carousel-container">
        <button class="carousel-button left">&lt;</button>
        <div class="carousel-content">
            <div class="carousel-slide"><img src="/img/Ya Danza/Danza1.jpg" alt="Danza 1"></div>
            <div class="carousel-slide"><img src="/img/Ya Danza/Danza2.jpg" alt="Danza 2"></div>
            <div class="carousel-slide"><img src="/img/Ya Danza/Danza3.png" alt="Danza 3"></div>
            <div class="carousel-slide"><img src="/img/Ya Danza/Danza4.jpg" alt="Danza 4"></div>
            <div class="carousel-slide"><img src="/img/Ya Danza/Danza5.jpg" alt="Danza 5"></div>
            <div class="carousel-slide"><img src="/img/Ya Danza/Danza6.jpg" alt="Danza 6"></div>
        </div>
        <button class="carousel-button right">&gt;</button>
    </div>

    <div class="carousel-danza-text">
        <h2>Cuerpos Libres</h2>
        <p>
            Mediante esta obra escénica; se pretende no solo crear un montaje sino también ser un espacio
            de exposición del movimiento realizado por cuerpos diversos para acercar a nuevos talentos y
            a nuevos públicos. Cuerpos Libres reconoce la capacidad que tiene el cuerpo para comunicar
            y crear, desde su naturalidad y ser un portal de expresión y de disfrute a partir de la escucha
            de las inquietudes que necesitan ser liberadas. El arte brinda un espacio seguro para poder
            liberar represiones, inquietudes y necesidades tanto personales como colectivas, ¡por lo que
            Ya! Danza promueve la convención.
        </p>
    </div>
</section>


@section Scripts {
    <script src="/js/carousel.js"></script>
}




