<section class="hero">
    <div class="hero-content">
        <h1>ASOCIACIÓN DESAMPA INCLUSIVO</h1>
        <h2>
            CONSTRUYENDO<br>
            UNA CULTURA
        </h2>
        <h2 class="text-outline">INCLUSIVA</h2>
        <p>
            Promovemos la participación de la población<br />
            con discapacidad dentro de la sociedad.
        </p>
    </div>
    <div class="hero-image">
        <img class="ellipse" src="~/img/Ellipse 1134.png" alt="Ellipse">
        <img src="~/img/foto de inicio.png" alt="Foto de Inicio">
        <img class="icon" src="~/img/icono.png" alt="Icono">
        <img class="triangles" src="~/img/triangulos.png" alt="Triángulos">
    </div>
</section>
<section class="about-section">
    <img class="about-image" src="~/img/photo 2.png" alt="About Image">
    <div class="about-text">
        <h2>
            ¿QUÉ<br>
            <span>SOMOS?</span>
        </h2>
        <p>
            Somos una Asociación creada con el objetivo de promover la participación de la población en situación
            de discapacidad dentro del entorno social, cultural, deportivo, laboral, entre otros, por medio de la creación
            de espacios inclusivos y accesibles, tanto en el cantón de Desamparados como en el resto del país.
        </p>
        <p>
            Propiciando que nuestra organización formule acuerdos con las diferentes instituciones locales,
            gubernamentales y no gubernamentales.
        </p>
    </div>
</section>


