<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ADI Web Application</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" crossorigin="anonymous" />
</head>
<body>
    <header>
        <div class="top-line"></div>
        <div class="container header-container">
            <img src="~/img/logo adi.png" alt="Logo ADI" class="logo">
            <nav>
                <ul class="nav-links">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li><a href="#">Emprendimientos</a></li>
                    <li><a href="#">Videos Tutoriales </a></li>
                    <li><a href="#">Ya! Danza</a></li>
                    <li><a href="#">Deportes Adaptados</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main-header-hero">
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2024 - ADI Web Application</p>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
