/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Línea Superior */
.top-line {
    background: url('img/linea.png') no-repeat center;
    height: 5px;
    width: 100%;
}

/* Fondo General */
.main-header-hero {
    background: url('img/Rectangle 9551.png') no-repeat center/cover;
    min-height: 100vh;
}

/* Header */
.header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}

    .header .logo {
        width: 120px;
    }

    .header .nav-links {
        display: flex;
        list-style: none;
    }

        .header .nav-links li {
            margin-left: 20px;
        }

        .header .nav-links a {
            text-decoration: none;
            color: #000;
            font-size: 16px;
            font-weight: 700; /* Montserrat Bold */
            transition: color 0.3s ease;
        }

            .header .nav-links a:hover {
                color: #0056b3;
            }

/* Hero Section */
.hero {
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text h1, .hero-text h2, .hero-text p {
    margin-bottom: 10px;
    color: #000; /* Reemplazar con colores del libro de marca */
}

.hero-text h1 {
    font-size: 36px; /* Tamaño principal */
    font-weight: 700; /* Montserrat Bold */
}

.hero-text h2 {
    font-size: 28px;
    font-weight: 500; /* Montserrat Medium */
}

.hero-text p {
    font-size: 18px;
    color: #555; /* Color secundario */
    font-weight: 500; /* Montserrat Medium */
}

.hero-image img {
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}
